@model EFCoreProductApp.Business.Models.Category

@{
    ViewData["Title"] = "Create Category";
}

<h2>Create Category</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="CategoryName" class="control-label">Category Name:</label>
        <input asp-for="CategoryName" class="form-control" />
        <span asp-validation-for="CategoryName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Create</button>
    <a asp-action="Index" class="btn btn-secondary mt-2">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
