@{
    ViewData["Title"] = "Home";
}

<h2>Welcome to Product App</h2>

<div class="mt-4">
    <a asp-controller="Category" asp-action="Index" class="btn btn-primary">Category</a>
    <a asp-controller="Product" asp-action="Index" class="btn btn-success">Product</a>
</div>
