@model EFCoreProductApp.Business.Models.Product

@{
    ViewData["Title"] = "Product Details";
}

<h2>Product Details</h2>

<div class="card p-3">
    <h4><strong>Product ID:</strong> @Model.ProductId</h4>
    <h4><strong>Product Name:</strong> @Model.ProductName</h4>
    <h4><strong>Category:</strong> @Model.Category.CategoryName</h4>
</div>

<a asp-action="Index" class="btn btn-secondary mt-3">Back to List</a>
